<a href="https://colab.research.google.com/github/ash260498/Python-Basics/blob/main/coding1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given two integer numbers return their product only if the product is equal to or lower than 1000 else return their sum

In [2]:
def mul_or_sum(num1,num2):
  product = num1*num2

  if product <=1000:
    return product
  else:
    return num1+num2

result= mul_or_sum(40,30)
print(result)

70

2.Write a program to iterate the first 10 numbers and in each iteration, pribt the sum of current and previous number
Expected output:
current num 0         prev num 0         sum:0
current num 1         prev num 0         sum:1
current num 2         prev num 1         sum:3
current num 3         prev num 2         sum:5

In [4]:
print("Priting current and previous number and their sum")
previous_num =0
for i in range(1,11):
  sum= previous_num+i
  print("current num",i,"Previous num",previous_num,"sum",sum)
  previous_num=i

Priting current and previous number and their sum
current num 1 Previous num 0 sum 1
current num 2 Previous num 1 sum 3
current num 3 Previous num 2 sum 5
current num 4 Previous num 3 sum 7
current num 5 Previous num 4 sum 9
current num 6 Previous num 5 sum 11
current num 7 Previous num 6 sum 13
current num 8 Previous num 7 sum 15
current num 9 Previous num 8 sum 17
current num 10 Previous num 9 sum 19

3.Write a program to accept a string from the user and display characters that are present at an even index number:
str="pynative" o/p= p n t v

In [7]:
word= input('Enter word ')
print("Original string",word)
size= len(word)
print("Printing only even index integer")
for i in range(0, size-1,2):
  print(word[i])

Enter word Aswathi
Original string Aswathi
Printing only even index integer
A
w
t

In [8]:
word= input(' Enter word ')
print("Original string:",word)
#using list slicing
#convert string to list
#pick only even index chars
x= list(word)
for i in x[0::2]:
  print(i)

 Enter word Qwerty
Original string: Qwerty
Q
e
t

4. Write a program to remove characters from a string from zero upto n and return a new string
Ex:remove_char("pynative",4) so o/p must be tive

In [9]:
def remove_chars(word,n):
  print('Original string:',word)
  x=word[n:]
  return x
print(remove_chars("python",4))
print(remove_chars("Aswathi",2))

Original string: python
on
Original string: Aswathi
wathi

5. Write a function to return True if the first number of a given list is same. If numbers are different return false.

In [12]:
def first_last_same(number_list):
  print("Given list",number_list)
  first_num= number_list[0]
  last_num = number_list[-1]
  if(first_num==last_num):
    return True
  else:
    return False

numbers_x=[10,20,30,40,10]
print("result",first_last_same(numbers_x))

numbers_y=[30,45,50,65]
print("result",first_last_same(numbers_y))

Given list [10, 20, 30, 40, 10]
result True
Given list [30, 45, 50, 65]
result False

6. Iterate the given list of numbers and print only those numbers which are divisible by 5
given list is[10,20,33,46,55]
o/p=10,20,55

In [13]:
num_list=[10,20,33,46,55]
print("Given list:",num_list)
print("Divisible by 5")
for num in num_list:
  if num % 5==0:
    print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5
10
20
55