In [ ]:

# Print each element of our list of strings using a for loop

#Consider a list of strings
got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']

In [ ]:
# A simple for loop to print the houses of GOT universe
for house in got_houses[::-1]:
  print(f"House {house}")

House Targaryen
House Martell
House Tyrell
House Lannister
House Greyjoy
House Tully
House Baratheon
House Arryn
House Stark

In [ ]:
# Using enumerate function to loop through the elements of a list
for number,house in enumerate(got_houses):
  print(f"The house no of house {house} is {number + 1}")

The house no of house Stark is 1
The house no of house Arryn is 2
The house no of house Baratheon is 3
The house no of house Tully is 4
The house no of house Greyjoy is 5
The house no of house Lannister is 6
The house no of house Tyrell is 7
The house no of house Martell is 8
The house no of house Targaryen is 9

In [ ]:
# To print square of number
# The list of numbers
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
for number in list_of_numbers:
  squared_numbers = number **2
  print(f"the square of {number} is {squared_numbers}")

the square of 1 is 1
the square of 2 is 4
the square of 4 is 16
the square of 6 is 36
the square of 11 is 121
the square of 14 is 196
the square of 17 is 289
the square of 20 is 400

In [ ]:
# Imagine a scenario where we not only needed to print these numbers for each iteration but also we need to store these elements somewhere else
# Let us first initialize a list where we will be appending the squares in each iteration

squared_numbers = []

for number in list_of_numbers:
  square = number**2
  # Use the append method to add the numbers one by one to our list
  squared_numbers.append(square)
  # print(squared_numbers)

print(f"The list of squared numbers is {squared_numbers}")

The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
# Let us zip the original numbers and squares together and get the dictionary
zipped_dict = dict(zip(list_of_numbers,squared_numbers))

# Let us print the dictionary where the key is the number and the value is the square of that number
print(zipped_dict)

{1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}

In [ ]:
#Now suppose we only want to print the squares of those numbers which are even. Let us see how we can do this

In [ ]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
for number in list_of_numbers:
  if number%2 == 0:
    squared_number= number**2
    print(f"The square of {number} is {squared_number}")
  else:
    print(f"I am an even number {number}.My master prohibits me from printing the squares of odd numbers. Strange but okay!")

I am an even number 1.My master prohibits me from printing the squares of odd numbers. Strange but okay!
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
I am an even number 11.My master prohibits me from printing the squares of odd numbers. Strange but okay!
The square of 14 is 196
I am an even number 17.My master prohibits me from printing the squares of odd numbers. Strange but okay!
The square of 20 is 400

In [ ]:
#To print sum of first 10 natural numbers
sum =0
for i in range(0,11):
    sum =sum+ i
print(sum)

55

In [ ]:
#to print first 10 even numbers
for i in range(0,20,2):

  print(i)

In [ ]:
# Let us first store the sentence in a string variable
heisenberg_quote =  "I am the one who knocks!"

In [ ]:
#to print all the characters separated by whitespace
for char in heisenberg_quote:
  print(f" The character is {char}")

 The character is I
 The character is
 The character is a
 The character is m
 The character is
 The character is t
 The character is h
 The character is e
 The character is
 The character is o
 The character is n
 The character is e
 The character is
 The character is w
 The character is h
 The character is o
 The character is
 The character is k
 The character is n
 The character is o
 The character is c
 The character is k
 The character is s
 The character is !

In [ ]:
words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

['I', 'am', 'the', 'one', 'who', 'knocks!']

In [ ]:
# Now we can print each word by iterating through this list
for word in words_by_walter:
  if word not in ['I','you']:
    print(f"The word is {word}")

The word is am
The word is the
The word is one
The word is who
The word is knocks!

In [ ]:
l=[]
for i in l:
  print(l)

In [ ]:
for i in range(2.0):
    print(i)

TypeError: ignored

In [ ]:
a = [0, 1, 2, 3]
i = -2
for i not in a:
    print(i)
    i += 1

SyntaxError: ignored

In [ ]:
i = 1
while False:
    if i%2 == 0:
        break
    print(i)
    i += 2

In [ ]:
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
# Getting the list of squares using list comprehension
squared_numbers = [number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
# to print squares of even numbers
even_squarednum = [number **2 for number in list_of_numbers if number%2 == 0]
print(even_squarednum)

[4, 16, 36, 196, 400]

In [ ]:
# to print squares of odd numbers
odd_squarednum = [number ** 2 for number in list_of_numbers if number%2 !=0]
print(odd_squarednum)

[1, 121, 289]

In [ ]:
for number in list_of_numbers:
  if number%2==0:
    squared_num= number**2
    print(squared_num)

  else:
    print(f"the number {number} is odd number")

the number 1 is odd number
4
16
36
the number 11 is odd number
196
the number 17 is odd number
400

In [ ]:
list_of_num=[1,2,3,4,5,6,7,8]

In [ ]:
square_num=[]

In [ ]:
for num in list_of_num:
  square_num.append(num**2)
print(square_num)

[4, 16, 36, 64]

In [ ]:
# we can do the same above task using list comprehension
squared_nums=[number**2 for number in list_of_num]
print(squared_nums)

[4, 16, 36, 64]

In [ ]:
# writing list comprehension using conditional
even_squared_num=[number**2 for number in list_of_num if number%2==0]
print(even_squared_num)

[4, 16, 36, 64]

In [ ]:
# for odd
odd_squared_num=[number**2 for number in list_of_num if number%2!=0]
print(odd_squared_num)

[1, 9, 25, 49]

In [ ]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to,"

In [ ]:
words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,']

In [ ]:
heisenberg_quote.split('.')

['It ceases to exist without me',
 " No, you clearly don't know who you're talking to,"]

In [ ]:
# Let u store the first letter of each word in another list

first_letters = []

for word in words_by_walter:
  first_letters.append(word[0])

# Print the first_letters list
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't']

In [ ]:
# The same task but now with list comprehension
first_letters = [word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't']

In [ ]:
# using if and else for list comprehension
new_num=[number**2 if number%2==0 else number **3 for number in list_of_num]
print(new_num)

[1, 4, 27, 16, 125, 36, 343, 64]

newlist=[]
for num1 in range(4):
  for num2 in range(3):
    newlist.append(num1)
print(newlist)

In [ ]:
# we can write slighlty in a different manner
new_lists=[num1  for num1 in range(4) for num2 in range(3)]
print(new_lists)

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [ ]:
list_of_lists = []

for num1 in range(4):
  # Append an empty sublist inside the list
  list_of_lists.append([])  # [[0]] , list_of_lists[1]
  # print(list_of_lists)

  for num2 in range(3):
    # Append the elements within the sublist
    list_of_lists[num1].append(num2)  #list_of_lists[0]

print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
days=('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')

In [ ]:
tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [ ]:
days_without_day=tuple(day[:-3]for day in days)
print(days_without_day)

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

In [ ]:
# list comprehension using set
# using for loop
first_letters=set()
for word in words_by_walter:
  first_letters.add(word[0])
print(first_letters)

{'c', 't', 'w', 'm', 'N', 'e', 'y', 'I', 'k', 'd'}

In [ ]:
# using set comprehension
first_letters={word[0] for word in words_by_walter}
print(first_letters)

{'c', 't', 'w', 'm', 'N', 'e', 'y', 'I', 'k', 'd'}

In [ ]:
country_city_list=[('India','Newdelhi'),('Netherlands','Amsterdam'),('England','London')]
country_city_dict=dict(country_city_list)
print(country_city_dict)

{'India': 'Newdelhi', 'Netherlands': 'Amsterdam', 'England': 'London'}

In [ ]:
flipped ={}
for country,city in country_city_dict.items():
  flipped[city]=country
print(flipped)

{'Newdelhi': 'India', 'Amsterdam': 'Netherlands', 'London': 'England'}

In [ ]:
#The dictionary comprehension
flipped={city:country for city in country_city_dict.items()}
print(flipped)

{('India', 'Newdelhi'): 'England', ('Netherlands', 'Amsterdam'): 'England', ('England', 'London'): 'England'}

In [ ]:
x=[i**+1 for i in range(3)]
print(x)

[0, 1, 2]

In [ ]:
my_string= "aeiou"
k= [print(i) for i in my_string if i not in "aeiou"]
print(k)

[]

In [ ]:
[j for i in range(2,8)for j in range(i*2,50,i)]

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 14,
 21,
 28,
 35,
 42,
 49]

In [ ]:
l1=[2,4,6]
l2=[-2,-4,-6]
for i in zip(l1,l2):
  print(i)

(2, -2)
(4, -4)
(6, -6)