<a href="https://colab.research.google.com/github/ash260498/Python-Basics/blob/main/forloops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

multiples of 3 from 1 to b

In [2]:
a= int(input())
b=int(input())
if a%3==0:
  s=a
elif a%3==1:
  s=a+2
else:
  s=a+1
for i in range(s,b+1,3):
  print(i)

2
80
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78

check if a number is prime using for loop

In [4]:
n=int(input())
flag=False
for i in range(2,n):
  if(n%i==0):
    flag=True
if(flag):
  print("Not prime")
else:
  print("Prime")

4
Not prime

print the following pattern
      1
     232
    34543
   4567654

In [3]:
n=int(input())
for i in range(1,n+1,1):
  for s in range(n-i):
    print(" ",end='')
  for j in range(i,2*i,1):
    print(j,end='')
  for j in range(2*i-2,i-1,-1):
    print(j,end='')
  print()

4
   1
  232
 34543
4567654

In [4]:
i=1
while i<5:
  if(i==3):
    break
  print(i)
  i=i+1

1
2

In [5]:
i=1
while i<3:
    j=1
    while j<5:
        if j==3:
            break
        print(j,end=" ")
        j = j + 1
    i = i + 1

1 2 1 2

print all the even numbers upto a given number except multiples of 7

In [9]:
n=int(input())
for i in range(2,n+1,2):
  if(i%7==0):
    continue
  print(i)

100
2
4
6
8
10
12
16
18
20
22
24
26
30
32
34
36
38
40
44
46
48
50
52
54
58
60
62
64
66
68
72
74
76
78
80
82
86
88
90
92
94
96
100

print all even numbers twice and print mulitiples of 7 only once

In [11]:
n=int(input())
for i in range(2,n+1,2):
  print(i)
  if(i%7==0):
    continue
  print(i)

100
2
2
4
4
6
6
8
8
10
10
12
12
14
16
16
18
18
20
20
22
22
24
24
26
26
28
30
30
32
32
34
34
36
36
38
38
40
40
42
44
44
46
46
48
48
50
50
52
52
54
54
56
58
58
60
60
62
62
64
64
66
66
68
68
70
72
72
74
74
76
76
78
78
80
80
82
82
84
86
86
88
88
90
90
92
92
94
94
96
96
98
100
100

In [13]:
i=1
while i<3:
    j=0
    while j<5:
        j = j +1
        if j==3:
            continue
        print(j,end='')
    i = i +1

12451245

In [ ]:
Print the following pattern for the given number of rows.
Pattern for N = 4
1111
000
11
0

In [14]:
n = int(input())

for i in range(1, n+1, 1):
    for j in range(1, n-i+2, 1):
        if(i%2 != 0):
            print('1', end ='')
        else:
            print('0', end ='')
    print()

5
11111
0000
111
00
1

In [15]:
num=int(input())
i=0
while num>i:
    spaces=1
    while spaces<=i:
        print(" ",end="")
        spaces=spaces+1
    j=1
    while num-i >=j:
        print(j+i,end="")
        j=j+1
    i=i+1
    print()
while i>1:
    spaces=1
    while spaces<=i-2:
        print(" ",end="")
        spaces=spaces+1
    j=num
    k=1
    while j>=i-1:
        print(i+k-2,end="")
        j=j-1
        k=k+1

    i=i-1
    print()

5
12345
 2345
  345
   45
    5
   45
  345
 2345
12345

Print the following pattern for the given number of rows.
Note: N is always odd.


Pattern for N = 5

In [1]:
n = int(input())
m = n//2 + 1
for i in range(1, m+1, 1):
    for sp in range(m-i):
        print(' ',end = '')

    for j in range(2*i - 1):
        print('*', end = '')

    print()

for i in range(1, m, 1):
    for sp in range(i):
        print(' ', end = '')

    for j in range(1,n-2*i + 1, 1):
        print('*', end ='')
    print()

5
  *
 ***
*****
 ***
  *

Print the following pattern for the given number of rows.
Pattern for N = 4
4444444
4333334
4322234
4321234
4322234
4333334  
4444444

In [2]:
n = int(input())

for i in range(1, n+1, 1):
    for up in range(1, i, 1):
        print(n-up+1,end = '')

    for j in range(i, 2*n-i+1, 1):
        print(n-i+1,end = '')

    for lp in range(2*n-i, 2*n-1, 1):
        print(lp-n+2,end = '')

    print()


for i in range(n-1, 0, -1):
    for up in range(1, i, 1):
        print(n-up+1,end = '')

    for j in range(i, 2*n-i+1, 1):
        print(n-i+1,end = '')

    for lp in range(2*n-i, 2*n-1, 1):
        print(lp-n+2,end = '')


    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

Print the following pattern for the given number of rows.
Pattern for N = 5
 1    2   3    4   5
 11   12  13   14  15
 21   22  23   24  25
 16   17  18   19  20
 6    7    8   9   10

In [3]:
n = int(input())

if n%2 == 0:
    m = n//2
else:
    m = n//2+1

for i in range(1, m+1, 1):
    for j in range(1, n+1, 1):
        print(2*n*(i-1)+j, end ='')
        print(' ',end = '')
    print()

r = n - m
for i in range(r, 0, -1):
    for j in range(1, n+1, 1):
        print((2*i-1)*n + j, end ='')
        print(' ', end ='')
    print()

4
1 2 3 4
9 10 11 12
13 14 15 16
5 6 7 8