<a href="https://colab.research.google.com/github/ash260498/Python-Basics/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

square pattern of stars

In [2]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print("*",end='')
    j=j+1
  print()
  i=i+1

5
*****
*****
*****
*****
*****

Print the following pattern for the given N number of rows.
Pattern for N = 4

4444

4444

4444

4444

In [7]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(n,end='')
    j=j+1
  print()
  i=i+1

4
4444
4444
4444
4444

Print the following pattern for the given N number of rows. Pattern for N = 5

12345

12345

12345

12345

12345

In [8]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(j,end='')
    j=j+1
  print()
  i=i+1

5
12345
12345
12345
12345
12345

Print the following pattern for the given N number of rows. Pattern for N = 4

1111

2222

3333

4444

In [9]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(i,end='')
    j=j+1
  print()
  i=i+1

4
1111
2222
3333
4444

Print the following pattern for the given N number of rows. Pattern for N = 4

4321

4321

4321

4321

In [1]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(n-j+1,end='')
    j=j+1
  print()
  i=i+1

4
4321
4321
4321
4321

Print the following pattern for the given N number of rows. Pattern for N = 4

1

12

123

1234

In [3]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    print(j,end='')
    j=j+1
  print()
  i=i+1

4
1
12
123
1234

Print the following pattern for the given N number of rows. Pattern for N = 4

1

23

345

4567

In [5]:
n=int(input())
i=1
while i<=n:
  j=1
  p=i
  while j<=i:
    print(p,end='')
    j=j+1
    p=p+1
  print()
  i=i+1

4
1
23
345
4567

Print the following pattern for the given N number of rows. Pattern for N = 4

1

23

456

78910

In [2]:
n=int(input())
i=1
p=1
while i<=n:
  j=1
  while j<=i:
    print(p,end='')
    j=j+1
    p=p+1
  print()
  i=i+1

4
1
23
456
78910

Print the following pattern for the given N number of rows.

Pattern n=4

*

**

***

****

In [3]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    print("*",end='')
    j=j+1
  print()
  i=i+1

4
*
**
***
****

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

22

333

4444

In [5]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    print(i,end='')
    j=j+1
  print()
  i=i+1

4
1
22
333
4444

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

21

321

4321

In [11]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    print(i-j+1,end='')
    j=j+1
  print()
  i=i+1

4
1
21
321
4321

Print the following pattern for the given N number of rows.
Pattern for N = 4

ABCD

ABCD

ABCD

ABCD

In [13]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    charP = chr(ord('A')+j-1)
    print(charP,end='')
    j=j+1
  print()
  i=i+1

4
ABCD
ABCD
ABCD
ABCD