<a href="https://colab.research.google.com/github/ash260498/Python-Basics/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

square pattern of stars

In [2]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print("*",end='')
    j=j+1
  print()
  i=i+1

5
*****
*****
*****
*****
*****

Print the following pattern for the given N number of rows.
Pattern for N = 4

4444

4444

4444

4444

In [7]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(n,end='')
    j=j+1
  print()
  i=i+1

4
4444
4444
4444
4444

Print the following pattern for the given N number of rows. Pattern for N = 5

12345

12345

12345

12345

12345

In [8]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(j,end='')
    j=j+1
  print()
  i=i+1

5
12345
12345
12345
12345
12345

Print the following pattern for the given N number of rows. Pattern for N = 4

1111

2222

3333

4444

In [9]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(i,end='')
    j=j+1
  print()
  i=i+1

4
1111
2222
3333
4444