<a href="https://colab.research.google.com/github/ash260498/Python-Basics/blob/main/patterns2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print ****
#      ***
#      **
#      *
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n-i+1:
    print('*',end='')
    j=j+1
  print()
  i=i+1

4
****
***
**
*

print the following pattern

1234

123

12

1

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n-i+1:
    print(j,end='')
    j=j+1
  print()
  i=i+1

4
1234
123
12
1

Print the following pattern for the given N number of rows.
Pattern for N = 4

4444

333

22

1

In [ ]:
n=int(input())
i=n
while i>=1:
  j=1
  while j<=i:
    print(i,end='')
    j=j+1
  print()
  i=i-1

4
4444
333
22
1

print the reverse pattern

    *
   **
  ***
 ****

In [ ]:
n=int(input())
i=1
while i<=n:
  spaces=1
  while spaces<=n-i:
    print(' ',end='')
    spaces= spaces+1
  stars=1
  while stars<=i:
    print('*',end='')
    stars=stars+1
  print()
  i=i+1

4
   *
  **
 ***
****

Print the following pattern for the given N number of rows.
Pattern for N = 4

    1

   12

  123

 1234



The dots represent spaces.

In [ ]:
n=int(input())
i=1
while i<=n:
  spaces=1
  while spaces<=n-i:
    print(' ',end='')
    spaces= spaces+1
  j=1
  while j<=i:
    print(j,end='')
    j=j+1
  print()
  i=i+1

4
   1
  12
 123
1234

Print the following pattern

      1
     121
    12321
   1234321

In [ ]:
n=int(input())
i=1
while i<=n:
  spaces=1
  while spaces<=n-i:
    print(' ',end='')
    spaces=spaces+1
 #increasing sequence
  p=1
  j=1
  while j<=i:
    print(p,end='')
    j=j+1
    p=p+1
  #decreasing sequence
  p=i-1
  while p>=1:
    print(p,end='')
    p=p-1
  print()
  i=i+1

4
   1
  121
 12321
1234321

Print the following pattern
Pattern for N = 4
     
      *
     
     ***
    
    *****
   
   *******

In [ ]:
n=int(input())
i=1
while i<=n:
  spaces=1
  while spaces<=n-i:
    print(' ',end='')
    spaces=spaces+1
  j=1
  while j<=i:
    print('*',end='')
    j=j+1
  j=i-1
  while j>=1:
    print('*',end='')
    j=j-1
  print()
  i=i+1

4
   *
  ***
 *****
*******

Print the following pattern for the given number of rows.
Pattern for N = 4
     
       1
      
      232

     34543

    4567654


The dots represent spaces.

In [ ]:
n=int(input())
i=1
while i<=n:
  spaces=1
  while spaces<=n-i:
    print(' ',end='')
    spaces=spaces+1
  p=i
  j=1
  while j<=i:
    print(p,end='')
    p=p+1
    j=j+1
  p= 2*i-2
  while p>i-1:
    print(p,end='')
    p=p-1
  print()
  i=i+1

4
   1
  232
 34543
4567654

Print the following pattern for the given number of rows.
Note: N is always odd.


Pattern for N = 5
   *
  ***
 *****
*******
 *****
  ***
   *

In [ ]:
n=int(input())
if(n%2==0):
  exit(0)
else:
  n1=(n+1)/2
  n2= n1-1
  i=1
  #upper traingle
  while i<=n1:
      spaces=1
      while spaces<=n1-i:
        print(' ',end='')
        spaces=spaces+1
      stars=1
      while stars<=2*i-1:
        print('*',end='')
        stars=stars+1
      print()
      i=i+1
  #lower traingle
  i=1
  while i<=n2:
      spaces=1
      while spaces<=i:
        print(' ',end='')
        spaces=spaces+1
      stars=1
      while stars<=2*n2-2*i+1:
        print('*',end='')
        stars=stars+1
      print()
      i=i+1

7
   *
  ***
 *****
*******
 *****
  ***
   *

Print the following pattern for n number of rows.
Note: each line consist of equal number of characters + spaces. Suppose you are printing xth line for N=n. You need to print 1..x followed by (n-x) spaces, again (n-x) spaces followed by x..1
For eg. N = 5

1         1


12       21


123     321  


1234   4321

In [3]:

n = int(input())
i=1

while i <= n:
    j=1
    while j <= i:
        print(j,end='')
        j = j + 1

    sp = 1
    while sp <= 2*(n - i):
        print(' ',end ='')
        sp = sp + 1

    p = i
    j = 1
    while j <= i:
        print(p,end = '')
        p = p - 1
        j = j + 1

    print()
    i=i+1

4
1      1
12    21
123  321
12344321

Print the following pattern
Pattern for N = 4
*000*000*
0*00*00*0
00*0*0*00
000***000

In [1]:
n = int(input())
rows = 2*n + 1
i = 1

while i <= n:
    j = 1
    while j <= rows:
        if(j == i or j == (rows // 2 + 1) or j == rows - i +1):
            print('*',end = '')

        else:
            print('0',end = '')

        j = j + 1

    print()
    i = i + 1

3
*00*00*
0*0*0*0
00***00

Print the following pattern for the given number of rows.
Pattern for N = 4
   1
  212
 32123
4321234
Input format : N (Total no. of rows)

Output format : Pattern in N lines

In [ ]:
n = int(input())
rows = 2*n + 1
i = 1

while i <= n:
    j = 1
    while j <= rows:
        if(j == i or j == (rows // 2 + 1) or j == rows - i +1):
            print('*',end = '')

        else:
            print('0',end = '')

        j = j + 1

    print()
    i = i + 1

Print the following pattern for the given number of rows.
Assume N is always odd.
Note : There is space after every star.
Pattern for N = 7
*
 * *
   * * *
     * * * *
   * * *
 * *
*
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Sample Input :
11
Sample Output :
*
 * *
   * * *
     * * * *
       * * * * *
         * * * * * *
       * * * * *
     * * * *
   * * *
 * *
*

In [ ]:
n = int(input())
m = n // 2 + 1
i = 1

while i <= m:
    sp = 1
    while sp < i:
        print(" ", end = "")
        sp+=1

    j = i
    c = 1
    while j >= i and c <= i:
        print("* ",end = "")
        j+=2
        c+=1

    print()
    i+=1

i = m - 1
while i >= 1:
    sp = 1
    while sp < i:
            print(" ", end = "")
            sp+=1

    j = i
    c = 1
    while j >= 1 and c <= i:
        print("* ",end = "")
        j+=2
        c+=1

    print()
    i-=1