<a href="https://colab.research.google.com/github/ash260498/Python-Basics/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

square pattern of stars

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print("*",end='')
    j=j+1
  print()
  i=i+1

5
*****
*****
*****
*****
*****

Print the following pattern for the given N number of rows.
Pattern for N = 4

4444

4444

4444

4444

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(n,end='')
    j=j+1
  print()
  i=i+1

4
4444
4444
4444
4444

Print the following pattern for the given N number of rows. Pattern for N = 5

12345

12345

12345

12345

12345

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(j,end='')
    j=j+1
  print()
  i=i+1

5
12345
12345
12345
12345
12345

Print the following pattern for the given N number of rows. Pattern for N = 4

1111

2222

3333

4444

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(i,end='')
    j=j+1
  print()
  i=i+1

4
1111
2222
3333
4444

Print the following pattern for the given N number of rows. Pattern for N = 4

4321

4321

4321

4321

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(n-j+1,end='')
    j=j+1
  print()
  i=i+1

4
4321
4321
4321
4321

Print the following pattern for the given N number of rows. Pattern for N = 4

1

12

123

1234

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    print(j,end='')
    j=j+1
  print()
  i=i+1

4
1
12
123
1234

Print the following pattern for the given N number of rows. Pattern for N = 4

1

23

345

4567

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  p=i
  while j<=i:
    print(p,end='')
    j=j+1
    p=p+1
  print()
  i=i+1

4
1
23
345
4567

Print the following pattern for the given N number of rows. Pattern for N = 4

1

23

456

78910

In [ ]:
n=int(input())
i=1
p=1
while i<=n:
  j=1
  while j<=i:
    print(p,end='')
    j=j+1
    p=p+1
  print()
  i=i+1

4
1
23
456
78910

Print the following pattern for the given N number of rows.

Pattern n=4

*

**

***

****

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    print("*",end='')
    j=j+1
  print()
  i=i+1

4
*
**
***
****

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

22

333

4444

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    print(i,end='')
    j=j+1
  print()
  i=i+1

4
1
22
333
4444

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

21

321

4321

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    print(i-j+1,end='')
    j=j+1
  print()
  i=i+1

4
1
21
321
4321

Print the following pattern for the given N number of rows.
Pattern for N = 4

ABCD

ABCD

ABCD

ABCD

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    charP = chr(ord('A')+j-1)
    print(charP,end='')
    j=j+1
  print()
  i=i+1

4
ABCD
ABCD
ABCD
ABCD

Print the following pattern for the given N number of rows.
Pattern for N = 4

ABCD

BCDE

CDEF

DEFG

In [ ]:
n=int(input())
i=1
while i<=n:
  start_char=chr(ord('A')+i-1)
  j=1
  while j<=n:
    charP=chr(ord(start_char)+j-1)
    print(charP,end='')
    j=j+1
  print()
  i=i+1

4
ABCD
BCDE
CDEF
DEFG

Print the following pattern for the given N number of rows.
Pattern for N = 4

A

BC

CDE

DEFG

In [3]:
n=int(input())
i=1
while i<=n:
  start_char=chr(ord('A')+i-1)
  j=1
  while j<=i:
    charP=chr(ord(start_char)+j-1)
    print(charP,end='')
    j=j+1
  print()
  i=i+1

4
A
BC
CDE
DEFG

Print the following pattern for the given number of rows.
Pattern for N = 5

E

DE

CDE

BCDE

ABCDE

In [13]:
ord('A')

65

In [23]:
n=int(input())
i=1
start_char=chr(ord('A')+n-1)
while i<=n:
  start_p=chr(ord(start_char)-i+1)
  j=1
  while j<=i:
    charP=chr(ord(start_p)+j-1)
    print(charP,end='')
    j=j+1
  print()
  i=i+1

4
D
CD
BCD
ABCD

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

11

111

1111

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    print(1,end='')
    j=j+1
  print()
  i=i+1

4
1
11
111
1111

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

11

202

3003

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

11

121

1221

Print the following pattern for the given N number of rows.
Pattern for N = 4

1234

123

12

1

In [36]:
n = int(input())
i = n
while i >= 1:
    j = 1
    while j <= i:
        print(j, end='')
        j = j + 1
    print()
    i = i - 1

4
1234
123
12
1

Print the following pattern for the given N number of rows.
Pattern for N = 3

 A

 BB

 CCC

In [40]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    charP=chr(ord('A')+i-1)
    print(charP,end='')
    j=j+1
  print()
  i=i+1

4
A
BB
CCC
DDDD