<a href="https://colab.research.google.com/github/ash260498/Python-Basics/blob/main/while_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=2+3j
type(a)

complex

Given an integer n print the sum of numbers from 1 to n

In [8]:
n=int(input())
sum=0
count=1
while count<=n:
  sum=sum+count
  count=count+1
print(sum)

2
3

Given a number n print sum of all even numbers from 1to n

In [13]:
number=int(input())
count_even=2
sum_even=0
while count_even<=number:
  if(number%2==0):
    sum_even=count_even+ sum_even
    count_even=count_even+2
print(sum_even)

6
12

Check whether the number is prime or not

In [21]:
check_prime=int(input())
d=2
flag= False
while d<check_prime:
  if(check_prime%d==0):
    flag=True
  d=d+1
if flag:
  print("Not Prime")
else:
  print("Prime")

6
Not Prime

Print prime number 2 to n

In [23]:
num=int(input())
k=2
while k<=num:
  d=2
  flag= False
  while d<k:
    if(k%d==0):
      flag=True
    d=d+1
  if not flag:
    print(k)
  k=k+1

8
2
3
5
7

Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the table.

In [27]:
S= int(input())
E=int(input())
W=int(input())
while S<=E:
  c=int((S-32)*(5/9))
  print(S,c)
  S=S+W

0
100
20
0 -17
20 -6
40 4
60 15
80 26
100 37

Write a program that performs the tasks of a simple calculator. The program should first take an integer as input and then based on that integer perform the task as given below.
1. If the input is 1, then 2 integers are taken from the user and their sum is printed.
2. If the input is 2, then 2 integers are taken from the user and their difference(1st number - 2nd number) is printed.
3. If the input is 3, then 2 integers are taken from the user and their product is printed.
4. If the input is 4, then 2 integers are taken from the user and the quotient obtained (on dividing 1st number by 2nd number) is printed.
5. If the input is 5, then 2 integers are taken from the user and their remainder(1st number mod 2nd number) is printed.
6. If the input is 6, then the program exits.
7. For any other input, then print "Invalid Operation".
Note: Each answer in next line.
Input format:
Take integers as input, in accordance to the description of the question.
Constraints:
The value of integers will always lie between [1,10000].
Output format:
The output lines must be as prescribed in the description of the question.
Sample Input:
3
1
2
4
4
2
1
3
2
7
6
Sample Output:
2
2
5
Invalid Operation

In [ ]:
while True:
  choice=int(input())
  if choice==1:
    a=int(input())
    b=int(input())
    print(a+b)
  elif choice==2:
    a=int(input())
    b=int(input())
    print(a-b)
  elif choice==3:
    a=int(input())
    b=int(input())
    print(a*b)
  elif choice==4:
    a= int(input())
    b=int(input())
    print(a/b)
  elif choice==5:
    a= int(input())
    b=int(input())
    print(a%b)
  elif choice==6:
    break
  else:
    print("Invalid Operation")

Write a program to generate the reverse of a given number N. Print the corresponding reverse number.
Note : If a number has trailing zeros, then its reverse will not include them. For e.g., reverse of 10400 will be 401 instead of 00401

In [16]:
number = int(input())
reverse=0
while number>0:
  dig= number%10
  reverse= reverse*10 +dig
  number=number//10
print(reverse)

1009800
89001

In [8]:
n = int(input())
rev = 0
while n > 0:
    last_digit = n % 10
    if last_digit != 0 or rev != 0:
        rev = 10 * rev + last_digit
    n //= 10
print(rev)

3450
543

Check whether a given number ’n’ is a palindrome number.


Palindrome numbers are the numbers that don't change when reversed.


Return boolean value true or false.

In [3]:
number=int(input())
reverse=0
temp=number
while number>0:
  dig=number%10
  reverse=10*reverse +dig
  number=number//10
if temp==reverse:
  print("True")
else:
  print("False")

454
True

Write a program to input an integer 'n' and print the sum of all its even digits and the sum of all its odd digits separately.


Digits mean numbers, not places! That is, if the given integer is "132456", even digits are 2, 4, and 6, and odd digits are 1, 3, and 5.


Example :
Input: 'n' = 132456

Output: 12 9

In [6]:
n=int(input())
even=0
odd=0
x=0
while n>0:
  x=n%10
  if x%2==0:
    even=even+x
  else:
    odd=odd+x
  n=n//10
print(even,odd)

123
2 4

Write a program to find the Nth Fibonacci number using loops.
Input Format :
The first line of each test case contains a real number ‘N’.

In [16]:
n=int(input())
a=1
b=1
c=0
i=3
while i<=n:
  c=a+b
  a=b
  b=c
  i=i+1
print(c)

6
8